p1_index/node_modules
p1_index/*.log

p2_proj/node_modules
p2_proj/*.log

p3_hotload/node_modules
p3_hotload/*.log

p4_router/node_modules
p4_router/*.log

p5_signup/node_modules
p5_signup/*.log

p6_redux/node_modules
p6_redux/*.log

p7_user_signup/node_modules
p7_user_signup/*.log

p8_client_vali/node_modules
p8_client_vali/*.log

p9_redirect/node_modules
p9_redirect/*.log

p10_flash/node_modules
p10_flash/*.log

p11_flash1/node_modules
ip11_flash1/*.log

p12_db/node_modules
p12_db/*.log

p13_signup/node_modules
p13_signup/*.log

p14_unique/node_modules
p14_unique/*.log

p15_login/node_modules
p15_login/*.log

p16_verify/node_modules
p16_verify/*.log

p17_jwt/node_modules
p17_jwt/*.log
